input.buttonInCell {
    background-color: transparent;/*#6CBF70;*/
    /*border: none;*/
    /*color: white;*/
    cursor: pointer;
    /*font-weight: bold;*/
    /*width: 100%;*/
    alignment: left;
}

select.selectInCell {
    width: 100%;
}

input.editInCell{
    width: 100%;
}

input.buttonAddToTable {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
}

input.buttonSingle {
    /*background-color: transparent;*/
    border: 1px solid #000;
    /*font-weight: bold;*/
    /*!*background-color: #4CAF50;*!*/
    /*!*border: none;*!*/
    /*!*color: white;*!*/
    /*cursor: pointer;*/
}

