table.resultTable {
    width: 100%;
}

table.resultTable th {
    border: 1px solid #000;
    padding: 10px;
}



table.resultTable td {
    border: 1px solid #000;
    padding: 6px;
}

table.resultTable a{
    display: block;
    color: #000;
    text-decoration: none;
}


table.resultTable a:hover {
    background-color: #555;
    color: white;
}


table.editOrderTable td {
    border: 1px solid #000;
    padding: 2px;
}

table.editOrderTable th{
    border: 1px solid #000;
    padding: 2px;
}
